# Dépendances
/node_modules

# Builds Next.js
/.next
/out
/.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Système (Mac/Linux/Windows)
.DS_Store
Thumbs.db

# Environnements locaux (ne jamais committer ces fichiers sensibles)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tests & coverage
coverage/
dist/

# Autres fichiers temporaires
*.swp
